@mixin grid($cols, $margin) {
  float: left;
  background: red;
  margin-right: $margin;
  margin-bottom: $margin;
  height: 150px;

  @if ($cols >= 5) {
    width: 100%;
    margin-right: 0;
  } @else {
    width: ((100% - (($cols - 1) * $margin)) / $cols);
  }

  // берёт последний элемент ряда
  &:nth-child(#{$cols}n) {
    margin-right: 0;
  }
}

@mixin link($link, $hover, $active, $visited) {
  a {
    color: $link;

    &:hover {
      color: darken($link, 20);
    }

    &:active {
      color: $active;
    }

    // позволяет расширить миксин в этом месте
    @content;
  }
}

// миксин
@mixin font($fontW: bold, $color: #ff0000 /* значение по умолчанию. Лучше ставить в конец */
) {
  font-size: $mainFontSize;
  font-weight: $fontW;
  font-family: Arial, sans-serif;
  color: $color;
}

// $padd... - содержит безграничное значение пишется в конце
@mixin padd($color, $padd...) {
  padding: $padd;
}