@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.contact__body, .about__body {
  max-width: 823px;
  margin: 0px auto;
}

.contact__header, .portfolio__header, .about__header {
  margin: 0px 0px 65px 0px;
}

body {
  font-family: Lato;
}

.about {
  margin: 0 0 95px 0;
}
.about__title {
  margin: 0px 0px 30px 0px;
}
.about__text {
  max-width: 688px;
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 25.89px;
  margin: 0px auto;
}
.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -15px;
}
.about__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  position: relative;
  text-align: center;
  padding: 0px 0px 30px 0px;
}
.title:after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background-color: #000;
  margin: 0px 0px 0px -25px;
}

.item-about__icon {
  margin: 0px auto 40px auto;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  border: 2px solid #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item-about__title {
  text-align: center;
  color: #000000;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3.52px;
  margin: 0px 0px 35px 0px;
}
.item-about__text {
  text-align: center;
  color: #868585;
  line-height: 26px;
  font-weight: 300;
  font-size: 14px;
}

.portfolio {
  background: #F3F3F3;
  padding: 108px 0px 0px 0px;
}
.portfolio__body {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}
.portfolio__menu {
  margin: 40px 0 5px;
  text-align: center;
}
.portfolio__menu li {
  display: inline-block;
  margin: 0 40px;
}
.portfolio__elem_active {
  color: #CABFA3;
}
.portfolio__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1em 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 0.5em;
  grid-auto-rows: minmax(350px, auto);
}
.portfolio__item {
  background-color: #EBEBEB;
}
.portfolio button {
  display: inline-block;
  margin: 32px 0 31px 0;
  padding: 8.5px 19.5px 9px 22px;
  border: 1px solid #000;
  letter-spacing: 0.47px;
  text-align: center;
  color: #000000;
}

.our-partners {
  background: url("../img/our-partners/our-partners.png") center/100% no-repeat;
  padding: 50px;
}
.our-partners__body {
  text-align: center;
}
.our-partners__title {
  margin: 0 0 96px 0;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.92px;
  text-align: center;
  color: #ffffff;
}
.our-partners__img {
  letter-spacing: 109px;
}

.contact {
  margin: 184px 0 0 0;
}
.contact__inner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #000;
}
.contact__left-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #000;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contact__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.contact__row-footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.contact__right-column {
  border: 1px solid #000;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.about__title {
  margin: 0px 0px 30px 0px;
}

label {
  display: block;
  font-weight: bold;
  line-height: 40px;
}

input {
  height: 35px;
}

input,
textarea {
  border-top: 1px solid #000;
  background: #F9F7F7;
}

textarea {
  display: block;
  width: 100%;
}